@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.glass {
  background-color: transparent;
  backdrop-filter: blur(12px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
}
